.opened {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  background: #fff;
  width: 16vw;
  padding: 12px;
  border-radius: 4px;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  margin-left: 16px;
}

.opened:after {
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  content: '';
  left: 10px;
  position: absolute;
  top: -20px;
  z-index: 10;
  text-align: center;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 8px;
  color: black;
  font-size: medium;
}

.close:hover {
  background: rgb(221, 221, 221);
}

.summary-info {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.4);
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
}

.info {
  width: calc(100% - 40px);
}

p.style {
  color: #000;
  margin-bottom: 5px;
}

p.style-value {
  color: #595b65;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  flex: 40px 0 0;
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.4);
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

.circle {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid #dadada;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 4px auto;
}

h3 {
  color: darkblue;
}

mat-slider {
  width: 10vw;
  padding: 0;
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.4);
  background: rgb(250, 250, 250);
  border-radius: 4px;
}