.side-bar-view {
    width: 27vw;
    height: 100%;
    background-color: #424242;
    color: rgb(255, 174, 0);
}

.button-row {
    margin: 16px;
    font-size: large;
}

.text-row {
    margin: 16px 16px 8px 16px;
    color: #ffd258;
    font-size: medium;
}

.cdk-viewport {
    height: 62vh;
    width: 25vw;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 16px 16px 0 16px;
}

.cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: column;
}

.item {
    height: 24px;
    margin: 8px 0 4px 16px;
    color: cyan;
    font-size: medium;
}

.dev-info {
    color: lightgray;
    margin: 12px 16px 0px 16px;
    text-align: left;
}